.logout{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 65px 15px;
}
.btnLogout{
    
    color: white !important;
    background: rgb(0, 162, 232);
    border-radius: 10px;
    border: none;
    
 
   

}