/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e0dfdf !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* CSS SIDEBAR */


.main .content {
  flex: 0 0 80%;
  transition: all .3s;
  width: 80%;
}

.right-content {
  padding: 100px 30px 10px;
}
.content .dashboardBoxWrapper{
  gap:15px;
  width: 100%;
  flex-wrap: wrap;
 }
 .content .dashboardBoxWrapper .dashboardBox{
  width: 48%;
  height: 170px;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  position: relative;
 
 }

 .dashboardBoxWrapperRow .box{
  width: 100%;
  height: 100%;
  background: #ccc;
 }
 .dashboardBox .element{
  margin-left: auto;
 }
 .dashboardBoxWrapper .dashboardBox .col1 h4{
  font-size: 30px;
  font-weight: bold;
 }
 .dashboardBoxWrapper .dashboardBox .col1 span{
  font-size: 40px;
  line-height: 45px;
  font-weight: bold;
 }
 .dashboardBoxWrapper .dashboardBox .icon svg{
  font-size: 45px;
  color: #000;
  opacity: 0.1;
 }

 .dashboardBoxWrapper .dashboardBox .icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-image: linear-gradient(bottom right, rgba(0,0,0,0.1),rgba(0,0,0,0.2));
 }

 .dashboardBox .element_bas{
  margin-left: auto;
  display: flex;
  align-items: center;
  padding:10px;
  
 }

 .dashboardBox .element_bas h6{
  font-size: 20px;
  font-weight: bold;
 }
 .dashboardBox .chart{
 
  color: #000;
  opacity: 0.2;
  position:absolute;
  left: 20px;
  bottom: 20px;
 }
 .dashboardBox .chart svg{
  font-size: 110px;
  color: #000;
 }


 .bouton_allumer{
  gap:20px;
  width: 80px;
  height: 40px;
  background: blue;
  color: white;
 }
 .bouton_eteindre{
  gap:20px;
  width: 80px;
  height: 40px;
  background: red;
  color: white;
  margin-left: 20px;
 }

.card.debut{
  background: #838181;
  margin-bottom: 0;

}
.card.debut h2{
  color: white;
}
.result_produit{
  display: flex;
  flex-direction: column;
  border-right: solid 2px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  border-color:#8e8c8c
}
.card.menu .row{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.card .menu_active{
  color:white;
  background: #75dbf8;
  text-align: center;
  padding: 15px;
  border-radius: 30px;
}
.menu_link_active{
  text-decoration: none;
  color: white;
}
.card .menu_noactive{
  color:black;
  background: white;
  text-align: center;
  padding: 15px;
  border-radius: 30px;
}
.menu_link_noactive{
  text-decoration: none;
  color: black;
}

.power{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  border-color:#8e8c8c
}
.power_action{
  font-size: 100px;
  color:#0a6bb0;
}
.power_noaction{
  font-size: 100px;
  color:#ccd1d5;
}

.deviceLink{
  text-decoration: none;
}
.entete_table{
  text-align: center;
  vertical-align: middle;

}
.body_table{
  text-align: center;
  vertical-align: middle;
}


.box.graphBox{
  background: white;
  display: flex;
  flex-direction: column;
}
.logo_auchan{
  width: 100%;
}
.textBoxParagraph{
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}

@media screen and (max-width: 1200px) {
  .sidebarWrapper{
    display: none ;
  }
  .main .content{
    flex: 0 0 100%;
  }

  }

  @media screen and (max-width: 800px) {
    .content .dashboardBoxWrapper  .dashboardBox{
      width: 100%;
   
    margin-bottom: 10px;
  }
  .content .dashboardBoxWrapper {
    width: 100%;
    margin-right: 0;
  }
}





