 .DeviceList{
  /*background: rgba(0,162,232,0.6); */
  color:white;
  padding: 50px;
  
 }
.DeviceList li{
  padding: 10px 10px;
  color: white;
  text-decoration: none;
  
}
.DeviceList li span{
  font-size: 18px;
  color: white;
  text-decoration: none;
}
.cardDevice{
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.titleTableDevice h3{
    color:black;
}